
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 12px;
    --font-family: 'poppins';
    --bg-color: black;
    --color: white;
    --header-color: rgb(255, 125, 73);
}

body {
    width: 100vw;
    max-width: 100%;
    height: fit-content;
    font-family: var(--font-family);
    background-color: var(--bg-color);
}

main {
    max-width: 100%;
    height: fit-content;
}

/* header navigation */
header {
    --color: black;
    --bg-color: var(--header-color);
    background-color: transparent;
    color: var(--color);
    width: 100%;
    height: 10vh;
    padding: 3em 1em;
    position: fixed;
    z-index: 1;
}

#logo {
    width: 5%;

    img {
        max-width: 100%;
    }
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #hamburger {
        display: none;
    }

    ul {
        list-style: none;
        display: inline-flex;
        gap: 2em;
        --color: white;
    }

    ul li a{
        position: relative;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        color: var(--color);

        &:hover {
            color: var(--header-color);
        }
    }

    ul li a.active::after {
        position: absolute;
        content: "";
        left: 0;
        width: 40%;
        height: 1px;
        border-bottom: 2px solid var(--color);
        bottom: -6px;
        color: var(--color);
        transition: 0.3s ease-in;
    }

    ul li a:hover::after {
        width: 0;
    }

}


/* hero content */
#home-wrapper {
    gap: 5em;
    width: 100%;
    max-width: 100%;
    display: grid;
}

#hero-banner {
    display: grid;
    align-items: end;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: background-image 0.5s ease-in;
}

#hero-text {
    padding-left: 1em;
    width: 100%;
    height: 10%;
    color: var(--color);

    p {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

/* main content */

#new_releases {
    width: 100%;
    height: fit-content;
    display: grid;
    gap: 4em;
    --color: grey;
    padding: 0 1em;
    
    h1 {
        font-size: 1rem;
        color: var(--header-color);
        height: fit-content;
        width: 100%;
        border-bottom: 1px solid var(--header-color);
    }
    
    #music_release {
        --color: rgb(255, 255, 255);
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        gap: 1.7em;
        color: var(--color);
        
        #music_poster {
            width: 15vw;
            height: fit-content;
            transform: translateY(2px);
            transition: all 0.2s ease-in-out;
            
            img {
                border-radius: 5px;
                width: 100%;
                max-width: 100%;
                height: 85%;
                object-fit: cover;
            }
        }

        #music_poster:hover {
            transform: translateY(0);
        }
    }

}

#news {
    width: 100%;
    height: fit-content;
    display: grid;
    justify-items: center;
    gap: 4em;
    padding: 0 1em;

    
    h1 {
        font-size: 1rem;
        color: var(--header-color);
        width: 100%;
        border-bottom: 1px solid var(--header-color);
    }
    
    #news-blocks {
        width: 90%;
        columns: 3;
        column-gap: 0.3em;
    }
    
    #news-blocks article {
        box-shadow: 0px 1px 3px rgb(90, 90, 90);
        --bg-color: rgb(19, 25, 34);
        background-color: var(--bg-color);
        width: 95%;
        height: fit-content;
        display: grid;
        gap: 1em;
        margin-bottom: 1.5rem;
        border-radius: 4px;
        break-inside: avoid;
        color: var(--color);
        
        #article-cover {
            width: 100%;
            height: 34vh;
            display: flex;
            overflow: hidden;
        }
        
        img {
            flex: 1 0 100%;
            max-width: 100%;
            object-fit: cover;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        
        .text {
            padding: 1em;
            padding-top: 0;
            display: grid;
            gap: 1em;
            
            h4 {
                font-size: 0.9rem;
                font-weight: 600;
            }
            
            h3 {
                font-size: 1.3rem;
            }

            a {
                width: fit-content;
                text-decoration: none;
                font-weight: 600;
                color: var(--color);

                &:hover {
                    color: var(--header-color);
                }
            }
    
            p {
                font-size: 1rem;
                --color: rgb(171, 171, 171);
                color: var(--color);
            }

            p::first-letter {
                font-size: 1.4rem;
                font-weight: 500;
            }

        }
    }
}

#notice {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: center;
    justify-content: center;
    padding: 0 1em;


    h1 {
        font-size: 1rem;
        color: var(--header-color);
        width: 100%;
        border-bottom: 1px solid var(--header-color);
    }
    
    ul {
        list-style: inside;
        height: 100%;
        width: 90%;
        gap: 0.3em;
        display: grid;

        li {
            width: 100%;
            padding: 1em;
            border: 1px dotted grey;
            color: var(--color);
        }
    }
}

/* footer */
footer {
    display: flex;
    gap: 3em;
    align-items: flex-end;
    margin-top: 10rem;
    padding: 1em;
    height: fit-content;
    width: 100%;
    background-color: var(--header-color);
    

    p {
        margin-top: 0.5rem;
        color: var(--color);

        a {
            text-decoration: none;
            color: var(--color);
        }
    }
}

/* resposiveness */
/*small screens (mobile)*/
@media only screen and (max-width: 480px) and (orientation: portrait) {
    
    
    /* navigation */
    header {
        height: 6vh;
        padding: 2.5em 1em;
        background-color: var(--header-color);
    }

     #logo {
        width: 14%;
        margin-top: 1rem; 
        z-index: 2;
    }
    
    nav {
        justify-content: left;
        gap: 1.5em;
        
        ul {
            width: 50%;
            background-color: var(--header-color);
            height: 100vh;
            position: fixed;
            top: 0%;
            left: 0;
            flex-direction: column;
            padding: 7em 1em;
            left: -250px;
            transition: 0.3s ease-in-out;
            
        }

        ul.active {
            left: 0;
        }
    
        ul li a {
            font-size: 2.5rem;

            &:active {
                --bg-color: black;
                color: var(--bg-color);
            }
        }

        #hamburger {
            display: grid;
            height: 40px;
            width: 40px;
            max-width: 100%;
            align-items: center;
            cursor: pointer;
            position: relative;
            z-index: 2;
            

            span {
                width: 100%;
                height: 5px;
                position: absolute;
                --color: white;
                background-color: var(--color);
                border-radius: 15px;
                transition: 0.3s ease-in;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        #hamburger span:nth-child(1) {
            top: 25%;
        }

        #hamburger span:nth-child(3) {
            top: 75%;
        }

        #hamburger.active span:nth-child(1) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        #hamburger.active span:nth-child(2) {
            opacity: 0;
        }

        #hamburger.active span:nth-child(3) {
            top: 40%;
            transform: translate(-50%, 50%) rotate(-45deg);
        }
    }

    #hero-banner {
        height: 70vh;
        padding-bottom: 1em;
    }

    #home-wrapper {
        gap: 2em;
    }

    #hero-text {
        height: fit-content;
    }

    #new_releases {
        padding-right: 0;
        gap: 2em;
        
        #music_release {
            justify-content: left;
            min-width: 100%;
            overflow-x: auto;
            
            &::-webkit-scrollbar {
                width: 0;
            }
            
            #music_poster {
                min-width: 115px;
            }
        }
    }

    #news {
        padding-right: 0;

        #news-blocks {
            padding-right: 1em;
            padding-bottom: 1em;
            gap: 2em;
            width: 100%;
            display: flex;
            overflow-x: auto;
            height: fit-content;
        
            &::webkit::-webkit-scrollbar {
                width: 0;
            }
    
        }
    
        #news-blocks article {
            margin-bottom: 0;
            min-width: 85%;
            height: fit-content;
    
            #article-cover {
                height: 20%;
                overflow: hidden;
            }
    
            .text {
                padding: 1em;
                padding-top: 0;
                display: grid;
                gap: 1em;
                
                h4 {
                    font-size: 1rem;
                    font-weight: 600;
                }
                
                h3 {
                    font-size: 1rem;
                    width: 100%;
                }
        
                p {
                    height: fit-content;
                    overflow: hidden;
                }
    
            }
    
    
        }
    }
}  

/*medium screens (tablet)*/
@media only screen and (max-width: 768px) and (orientation: landscape) {
    #logo {
        width: 10%;
    }
    
    #news {

        #news-blocks article {
           width: 95%;
           gap: 2em;

           #article-cover {
             height: 36vh;
           }

           .text {

            h3 {
              font-size: 1rem;
            }
        }
    }
  }
    
}

/* extra larger screens */
@media only screen and (max-width: 1440px) and (orientation: landscape) {
    
    #news {

        #news-blocks article {
            .text {
    
                p {
                    font-size: 1.1rem;
                }
            }
        }
    }
}
